@model IEnumerable<Candor.Domain.Models.Post>


<div class="blog">
    @if (Model.Any())
    {
        foreach (var post in Model)
        {
            <label>@post.CreatedAt @post.User.UserName</label>
            <h4><a asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h4>
            <p class="postContent">@post.Content</p>
        }
    }
    else
    {
        <label>No posts here.</label>
    }
</div>