@model IEnumerable<Candor.Domain.Models.Post>


<div class="blog">
    @if (Model.Any())
    {
        foreach (var post in Model)
        {
            <div>
                <div class="row">
                    <div class="col-md-auto">
                        <label>@post.User!.UserName</label>
                    </div>

                    <div class="col-md-auto">
                        @if (post.CreatedAt.Year == DateTime.Now.Year)
                        {
                            <label>@post.CreatedAt.ToString("MMM d")</label>
                        }
                        else
                        {
                            <label>@post.CreatedAt.ToString("MMM d, yyyy")</label>
                        }
                    </div>
                </div>

                <h4><a class="post-name" asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h4>
                @if (post.Content.Length > 300)
                {
                    <p>@(string.Concat(post.Content!.Take(300)) + "...")</p>
                }
                else
                {
                    <p>@post.Content</p>
                }

            </div>
        }
    }
    else
    {
        <label>No posts here.</label>
    }
</div>
