@model Candor.Domain.Models.Post

<a asp-action="EditPost" asp-route-id="@Model.Id">Edit</a>
<form method="post" asp-action="DeletePost" asp-route-id="@Model.Id">
    <button type="submit">Delete</button>
</form>

<div class="post">
    <label>@Model.User!.UserName</label>
    <label>@Model.CreatedAt.ToShortDateString()</label>
    <h3>@Model.Title</h3>
    <p class="postContent">@Model.Content</p>
</div>