@using Microsoft.AspNetCore.Identity
@using Candor.Domain.Models
@model Candor.Domain.Models.Post

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Post";
}

@if (await UserManager.GetUserAsync(User) == Model.User)
{
    <a class="btn btn-primary" asp-action="EditPost" asp-route-id="@Model.Id">Edit</a>
    <button class="btn btn-danger" type="button"  data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    Do you really want to delete this post?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" asp-action="DeletePost" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}

<div class="post">
    <label>@Model.User!.UserName</label>
    <label>@Model.CreatedAt.ToShortDateString()</label>
    <h3>@Model.Title</h3>
    <p class="postContent">@Model.Content</p>
</div>